/* for brand list */

.brand_img{
  border-right: 1px dotted black;
  width:250px;
  padding: 20px;
}
.brand_name{
  text-align: center;
  margin-top: 50px;
  padding: 10px;
  border-bottom: 1px solid;
}
.brand_url{
  text-align: center;
  margin-top: 50px;
padding: 10px;
}
.brand_intro{
  background-color:#000000;
  background-color:rgba(162,162,162,0.3);
  border-radius:20px;
  margin: 20px;
  padding: 50px;
}
.div-inline{
  display:inline;
}
#input-type{
 width:    ;
}
#flights-color{
  background-color:#000000;
  background-color:rgba(162,162,162,0.3);
  border-radius:20px;
  margin: 20px;
  padding: 50px;
}
/* detail */

.name{
   font-size: 150%;

}

.detaildiv{
  width: 60%;

  /* 对DIV设置margin:0 auto样式，是为了让DIV在浏览器中水平居中。布局居中、水平居中，均加入margin:0 auto即可 */
  margin:0 auto;
}

.namepage{
  text-align:center;
}

.introduction{
  /* 当text-align设置为"justify"，每一行被展开为宽度相等，左，右外边距是对齐（如杂志和报纸）。 */
 text-align:justify;
 /* 文本缩进属性是用来指定文本的第一行的缩进。 */
 text-indent:15px;
}

.flights{

   text-align: center;
}
