
    /*for list*/
    .list .try {
      display: block;
      float: left;
      width: 300px;
      height: 290px;
      box-sizing: border-box;
      padding: 5px 10px;
    }
    .try .headline{
      margin: 3px 0;
      line-height: 18px;
      font-size: 14px;
      font-weight: 700;
    }
    .date {
      display: block;
      float: right;
      font-size: 12px;
      color: #555;
      text-align: right;
      margin-bottom: 30px;
    }


/*for post_detail page*/
.otherpost{
  text-align: left;
}
.otherpostbar{
  color: #696969;
  padding: 25px;
  margin: 30px 0;
  border-bottom: dashed;
}
.post_title{
  padding: 25px;
  background-color:#000000;
  background-color:rgba(162,162,162,0.3);
  margin: 30px 60px;
  padding: 25px;
  border-radius:20px;
}
.post_title h2{
  text-align: center;
  color: #5d5d5d;
}
.post_content{
  font-size: 110%;
  margin-top: 50px;
}
  .title{
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 0;
    font-size: 26px;
    line-height: 1.3em;
    color: #000;
    font-weight: 700;
  }
  .inpdate {
    padding: 4px 0;
    font-size: 14px;
    color: #000;
  }
  .title .category {
      padding: 0 3px;
      color: red;
      background-color: #fe8;
      border: 1px solid #fa6;
      border-radius: 4px;
      margin-right:5%;
  }
  #main .body{
    margin: 0;
    padding: 10px 0;
    font-size: 16px;
    line-height: 1.5em;
    text-indent: 1em;
    color: #000;
  }
  #main .titleimg{
    display: block;
    float: center;
    margin: auto;
    padding: 5px;
    box-shadow: 0 0 5px #ccc;
    width: 500px;
  }
  #main .blog{
    margin: 0;
    padding: 40px 50px;
  }
  .blog .contenttext{
    border-bottom: 1px dashed;
    margin-bottom: 10px;
  }
  .blog .samebrand{
    border-bottom: 1px dashed;
    padding: inherit;
    margin:10px;
  }

  .blog .samecategory{
    border-bottom: 1px dashed;
    padding: inherit;
    margin:10px;
  } */
